{% extends 'base.html' %}

{% block title %}B2B Products{% endblock %}

{% block content %}
<div class="container-fluid mb-2">
    <h3>Товары в группе {{ catalog.name }}</h3>
    <p>{{ text }}</p>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr align="center">
                <th>Название</th>
                <th>Производитель</th>
                {% for prop in properties %}
                <th>{{ prop.property_id.name }}</th>
                {% endfor %}
        </thead>
        {% for _, p in products.items %}
        <tr align="center">
            <td>{{ p.name }}</td>
            <td>{{ p.vendor }}</td>
            {% for key, value in p.properties.items %}
            {% if key == image %}
            <td>
                {% for im in value %}
                {{ im }}<br>
                {% endfor %}
            </td>
            {% else %}
            <td>{{ value }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}