{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid mb-2">
    <div class="mb-2">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilters"
            aria-expanded="false" aria-controls="collapseFilters" id="filter">
            Фильтры <span class="badge badge-primary">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </span>
        </button>
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseSearch"
            aria-expanded="false" aria-controls="collapseSearch">
            Поиск
        </button>
    </div>
    <div class="accordion mb-2" id="accordionExample">
        <div id="collapseFilters" class="collapse" data-parent="#accordionExample">
            <div class="card card-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Группы</th>
                            <td id="groups"></td>
                        </tr>
                        <tr>
                            <th>Производители</th>
                            <td id="vendors"></td>
                        </tr>
                        <tr>
                            <th>Цена</th>
                            <td>
                                <div class="row">
                                    <div class="col-4">от<input type="number" id="in_start">000 ₽</div>
                                    <div class="col-3">до<input type="number" id="in_end">000 ₽</div>
                                </div>
                                <b id="start">0</b>
                                <input id="ex2" type="text" value="" data-slider-id="ex1">
                                <b id="end">100</b>
                            </td>
                        </tr>
                        <tr>
                            <th>Остатки</th>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-success stock">Только в наличии</button>
                                    <button type="button" class="btn btn-light btn-outline-dark allstock">Все</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="collapseSearch" {% if search %} class="collapse show" {% else %} class="collapse" {% endif %}
            data-parent="#accordionExample">
            <div class="card card-body">
                <form action="{% url 'main:search' %}" class="form-inline" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="search" name="search" placeholder="Строка поиска"
                        value="{{ search }}">
                    <button type="submit" class="btn btn-primary mx-2" name="btn">Искать</button>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-sm table-responsive-lg">
        <thead class="thead-dark">
            <tr align="center">
                <th>Название</th>
                <th class="no-show">Группа</th>
                <th class="no-show">Производитель</th>
                <th>Поставщик</th>
                <th>Остаток</th>
                <th>Цена</th>
                <th>Валюта</th>
            </tr>
        </thead>
        <tbody>
            {% for id, value in result.products.items %}
            <tr align="center" class="product">
                <td align="left" class="name" rowspan="{{ result.provider|length }}">
                    <button class="btn btn-link product_id" name="product_id" value="{{id}}">{{ value.name }}</button>
                    <div class="ml-3">Код: {{ value.partnumber }}</div>
                </td>
                <td class="group no-show" id={{ value.catalog }} rowspan="{{ result.provider|length }}">
                    {{ value.catalog }}</td>
                <td class="vendor no-show" id={{ value.vendor }} rowspan="{{ result.provider|length }}">
                    {{ value.vendor }}</td>
                {% for idx, provider in result.provider.items %}
                {% if not forloop.first %}
            <tr align="center" class="{{ id }}">
                {% endif %}
                <td class="{{ provider.danger }}">{{ provider.name }}</td>
                {% with price=value.price|get_item:idx %}
                {% if price %}
                <td class="balance">{{ price.0 }}</td>
                <td class="price">{{ price.1 }}</td>
                <td>
                    {% if price.2 == "USD" %}
                    <h4>$</h4>
                    {% else %}
                    <h4>₽</h4>
                    {% endif %}
                </td>
                {% else %}
                <td colspan="3"></td>
                {% endif %}
                {% endwith %}
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <p>{{ text }}</p>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody"></div>
                <div class="modal-footer">
                    <p id="modalInfo"></p>
                    <form action="{% url 'main:viewproperty' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" name="product_id" id="product_id" value=""
                            formtarget="_blank">Открыть в новом окне</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
<script type="text/javascript">
    var filter_groups = [];
    var filter_vendors = [];
    var filter_price = [0, 100];
    var filter_stock = true;

    function UpdateFilters() {
        var filter_length = 0;
        $("tr.product").each(function () {

            this_group = $(this).children("td.group").text();
            this_vendor = $(this).children("td.vendor").text();
            check_price = false;
            id = 'tr.' + $(this).children('td').children('button').attr('value');

            $(this).children("td.price").each(function () {
                var price = parseFloat($(this).text().replace(",", ".").replace(/\u00a0/g, ""));
                if (price >= filter_price[0] * 1000 && price <= filter_price[1] * 1000) {
                    check_price = true;
                };
            });

            $(id).each(function () {
                $(this).children("td.price").each(function () {
                    var price = parseFloat($(this).text().replace(",", ".").replace(/\u00a0/g,
                        ""));
                    if (price >= filter_price[0] * 1000 && price <= filter_price[1] * 1000) {
                        check_price = true;
                    };
                });
            });

            if (filter_stock) {
                check_stock = false;
                $(this).children("td.balance").each(function () {
                    if ($(this).text() != "0") {
                        check_stock = true;
                    };
                });
                $(id).each(function () {
                    $(this).children("td.balance").each(function () {
                        if ($(this).text() != "0") {
                            check_stock = true;
                        };
                    });
                });
            } else {
                check_stock = true;
            }

            if (filter_vendors.indexOf(this_vendor) > -1 && filter_groups.indexOf(this_group) > -1 &&
                check_price && check_stock) {
                $(this).show();
                $(id).each(function () {
                    $(this).show();
                });
                if (filter_length % 2 == 0) {
                    $(this).children('td.name').attr('bgcolor', '#f2f2f')
                } else {
                    $(this).children('td.name').attr('bgcolor', '#ffffff')
                }
                filter_length += 1;
            } else {
                $(this).hide();
                $(id).each(function () {
                    $(this).hide();
                });
            };
        });
        $("#filter").html("Фильтры  <span class='badge badge-primary'>" + filter_length + "</span>");
    };

    $(document).ready(function () {
        var all = [];
        $("td.group").each(function () {
            all.push($(this).text())
        });
        filter_groups = [...new Set(all)]
        groupsHTML = '<button class="btn btn-success mr-2 mb-1 all-group">Все</button>';
        for (group of filter_groups) {
            groupsHTML += '<button class="btn btn-success mr-2 mb-1 group">' + group + '</button>';
        };
        $('#groups').html(groupsHTML);

        $(".btn.group").click(function () {
            name = $(this).text();
            if (this.classList.contains('btn-light')) {
                this.classList.remove('btn-light', 'btn-outline-dark');
                this.classList.add('btn-success');
                filter_groups.push(name);
            } else {
                this.classList.remove('btn-success')
                this.classList.add('btn-light', 'btn-outline-dark')
                filter_groups.splice(filter_groups.indexOf(name), 1);
            };
            UpdateFilters();
        });
        $(".btn.all-group").click(function () {
            if (this.classList.contains('btn-light')) {
                this.classList.remove('btn-light', 'btn-outline-dark');
                this.classList.add('btn-success');
                filter_groups = [];
                $(".btn.group").each(function () {
                    name = $(this).text();
                    this.classList.remove('btn-light', 'btn-outline-dark');
                    this.classList.add('btn-success');
                    filter_groups.push(name);
                });
            } else {
                this.classList.remove('btn-success')
                this.classList.add('btn-light', 'btn-outline-dark')
                filter_groups = [];
                $(".btn.group").each(function () {
                    this.classList.remove('btn-success')
                    this.classList.add('btn-light', 'btn-outline-dark')
                });
            };
            UpdateFilters();
        });

        all = [];
        $("td.vendor").each(function () {
            all.push($(this).text())
        });
        filter_vendors = [...new Set(all)]
        vendorsHTML = '<button class="btn btn-success mr-2 mb-1 all-vendor">Все</button>';
        for (vendor of filter_vendors) {
            vendorsHTML += '<button class="btn btn-success mr-2 mb-1 vendor">' + vendor + '</button>';
        };
        $('#vendors').html(vendorsHTML);

        $(".btn.vendor").click(function () {
            name = $(this).text();
            if (this.classList.contains('btn-light')) {
                this.classList.remove('btn-light', 'btn-outline-dark');
                this.classList.add('btn-success');
                filter_vendors.push(name);
            } else {
                this.classList.remove('btn-success')
                this.classList.add('btn-light', 'btn-outline-dark')
                filter_vendors.splice(filter_vendors.indexOf(name), 1);
            };
            UpdateFilters();
        });
        $(".btn.all-vendor").click(function () {
            if (this.classList.contains('btn-light')) {
                this.classList.remove('btn-light', 'btn-outline-dark');
                this.classList.add('btn-success');
                filter_vendors = [];
                $(".btn.vendor").each(function () {
                    name = $(this).text();
                    this.classList.remove('btn-light', 'btn-outline-dark');
                    this.classList.add('btn-success');
                    filter_vendors.push(name);
                });
            } else {
                this.classList.remove('btn-success')
                this.classList.add('btn-light', 'btn-outline-dark')
                filter_vendors = [];
                $(".btn.vendor").each(function () {
                    this.classList.remove('btn-success')
                    this.classList.add('btn-light', 'btn-outline-dark')
                });
            };
            UpdateFilters();
        });

        let maxprice = 0.0;
        let minprice = -1.0;
        $("td.price").each(function () {
            var value = $(this).text().replace(",", ".").replace(/\u00a0/g, "");
            value = parseFloat(value);
            if (value > maxprice) {
                maxprice = value;
            }
            if (minprice >= 0) {
                if (value < minprice) {
                    minprice = value;
                }
            } else {
                minprice = value;
            }
        });
        minprice = Math.floor(minprice / 1000);
        maxprice = Math.ceil(maxprice / 1000);
        $("#ex2").bootstrapSlider({
            max: maxprice,
            min: minprice,
            value: [minprice, maxprice],
        });
        $('#start').text(minprice * 1000);
        $('#end').text(maxprice * 1000);
        $('#in_start').val(minprice);
        $('#in_start').attr("min", minprice);
        $('#in_start').attr("max", maxprice);
        $('#in_end').val(maxprice);
        $('#in_end').attr("min", minprice);
        $('#in_end').attr("max", maxprice);
        filter_price = [minprice, maxprice];
        $("#ex2").on('change', function () {
            filter_price = Array.from($(this).attr("value").split(","), x => parseInt(x));
            $('#in_start').val(filter_price[0]);
            $('#in_start').attr("max", filter_price[1]);
            $('#in_end').attr("min", filter_price[0]);
            $('#in_end').val(filter_price[1]);
            UpdateFilters();
        });
        $("#in_start").on('change', function () {
            var value = parseInt($(this).val());
            var min = parseInt($(this).attr("min"));
            var max = parseInt($(this).attr("max"));
            if (value < min) {
                $(this).val(min);
            };
            if (value > max) {
                $(this).val(max);
            }
            filter_price[0] = parseInt($(this).val());
            $('#in_end').attr("min", filter_price[0]);
            $("#ex2").bootstrapSlider("setValue", filter_price);
            UpdateFilters();
        });
        $("#in_end").on('change', function () {
            var value = parseInt($(this).val());
            var min = parseInt($(this).attr("min"));
            var max = parseInt($(this).attr("max"));
            if (value < min) {
                $(this).val(min);
            };
            if (value > max) {
                $(this).val(max);
            }
            filter_price[1] = parseInt($(this).val());
            $('#in_start').attr("max", filter_price[1]);
            $("#ex2").bootstrapSlider("setValue", filter_price);
            UpdateFilters();
        });

        $(".btn.allstock").click(function () {
            if (this.classList.contains('btn-light')) {
                this.classList.remove('btn-light', 'btn-outline-dark');
                this.classList.add('btn-success');
                $(".stock").removeClass('btn-success').addClass('btn-light btn-outline-dark');
                filter_stock = false;
                UpdateFilters();
            }
        });
        $(".btn.stock").click(function () {
            if (this.classList.contains('btn-light')) {
                this.classList.remove('btn-light', 'btn-outline-dark');
                this.classList.add('btn-success');
                $(".allstock").removeClass('btn-success').addClass('btn-light btn-outline-dark');
                filter_stock = true;
                UpdateFilters();
            }
        });
        UpdateFilters();
    });

    $('.btn.product_id').on('click', function () {
        var id = $(this).attr('value');
        $.ajax({
            url: "{% url 'main:prepareproperty' %}",
            method: 'POST',
            data: {
                "product_id": id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                $("#modalLabel").html(data.name);
                $("#modalBody").html(data.body);
                $("#modalInfo").html(data.text);
            },
            error: function (error) {
                console.log(error);
                $("#modalLabel").html("");
                $("#modalBody").html("<h3>Ошибка</h3>");
                $("#modalInfo").html("");
            }
        });
        $("#product_id").val(id);
        $('#myModal').modal("show");
    });
</script>
{% endblock %}